include LICENSE
include README.rst
include hfst/*.cpp
include hfst/lib/*.dylib
include hfst_src/back-ends/foma/*.h
include hfst_src/back-ends/openfst/src/include/fst/*.h
include hfst_src/config.h
include docstrings.i
include hfst_src/libhfst/src/*.h
include hfst_src/libhfst/src/implementations/*.h
include hfst_src/libhfst/src/implementations/optimized-lookup/*.h
include hfst_src/libhfst/src/implementations/compose_intersect/*.h
include hfst_src/libhfst/src/parsers/*.h
include hfst_src/libhfst/src/parsers/*.hh
include hfst_src/libhfst/src/parsers/alphabet_src/*.h
include hfst_src/libhfst/src/parsers/io_src/*.h
include hfst_src/libhfst/src/parsers/rule_src/*.h
include hfst_src/libhfst/src/parsers/string_src/*.h
include hfst_src/libhfst/src/parsers/variable_src/*.h
include setup.cfg
