include libhfst_src/back-ends/foma/*.h
include libhfst_src/back-ends/openfst/src/include/fst/*.h
include libhfst_src/config.h
recursive-include libhfst_src/libhfst/src/ *.h *.hh
exclude           libhfst_src/libhfst/src/parsers/commandline_src/*.h
include src/hfst/*.cpp
include src/hfst/docstrings.i
include src/hfst/libhfst.i
include VERSION
